.imgSobre{
    width: 12em;
    height: 12em;
}
.meuFormulario{
    margin: 0 auto;
    width: 350px;
    /* margin-top:204px; */
    background-color: dodgerblue;
    border-radius: 2em;
    padding: 2em;
}
.centrar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}